name: Build UZ801 Debian Kernel
on:
  workflow_dispatch:

jobs:
  build:
    name: Build kernel by ${{ github.actor }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Prepare Configuration
        run: |
          CONFIG_ENV=$(grep -w "CONFIG_ENV" config.env | head -n 1 | cut -d "=" -f 2)
          CONFIG_LIST=(
              KERNEL_SOURCE
              KERNEL_BRANCH
              CONFIG_FILE_SOURCE
              REMOVE_UNUSED_PACKAGES
              ENABLE_CCACHE
          )
          
          for CONFIG in "${CONFIG_LIST[@]}"; do
              echo "$CONFIG=$(grep -w "$CONFIG" "$CONFIG_ENV" | head -n 1 | cut -d "=" -f 2)" >> $GITHUB_ENV
          done

      - name: Remove unused packages
        if: env.REMOVE_UNUSED_PACKAGES == 'true'
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: ture
          android: false
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: false

      - name: Setup build kernel environment
        run: |
          echo "TIMEDATE=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
          sudo dpkg --add-architecture arm64
          sudo wget https://raw.githubusercontent.com/JackA1ltman/UZ801_Debian_Kernel/refs/heads/main/config/sources.list -O /etc/apt/sources.list
          sudo apt-get update
          sudo apt-get install git ccache automake flex lzop bison gperf build-essential zip curl zlib1g-dev g++-multilib libxml2-utils bzip2 libbz2-dev libbz2-1.0 libghc-bzlib-dev squashfs-tools pngcrush schedtool dpkg-dev liblz4-tool make optipng maven libssl-dev pwgen libswitch-perl policycoreutils minicom libxml-sax-base-perl libxml-simple-perl bc libc6-dev-i386 lib32ncurses5-dev libx11-dev lib32z-dev libgl1-mesa-dev xsltproc unzip device-tree-compiler python2 python3
          sudo apt-get install libssl-dev:arm64 gcc-aarch64-linux-gnu g++-aarch64-linux-gnu debhelper-compat libelf-dev:native
          sudo apt-get install android-libbase android-liblog android-libsparse android-sdk-libsparse-utils img2simg initramfs-tools
          mkdir -p $GITHUB_WORKSPACE/kernel_workflow

      - name: Set swap to 10G
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: Download Kernel
        run: |
          cd $GITHUB_WORKSPACE/kernel_workflow
          git clone --recursive ${{ env.KERNEL_SOURCE }} -b ${{ env.KERNEL_BRANCH }} debian_kernel --depth=1
          wget ${{ env.CONFIG_FILE_SOURCE }} -O debian_kernel/.config

      - name: Download mkbootimg tools
        run: |
          cd $GITHUB_WORKSPACE/kernel_workflow
          git clone https://android.googlesource.com/platform/system/tools/mkbootimg tools -b master-kernel-build-2022 --depth=1

      - name: Setup ccache
        if: env.ENABLE_CCACHE == 'true'
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: build-kernel-${{ env.TIMEDATE }}
          max-size: 2G

      - name: Build Kernel
        run: |
          cd $GITHUB_WORKSPACE/kernel_workflow/debian_kernel
          yes y | make CC="ccache aarch64-linux-gnu-gcc" CXX="ccache aarch64-linux-gnu-g++" ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- -j$(nproc --all)
          make  CC="ccache aarch64-linux-gnu-gcc" CXX="ccache aarch64-linux-gnu-g++" ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- deb-pkg -j$(nproc --all)
          cat arch/arm64/boot/Image.gz arch/arm64/boot/dts/qcom/msm8916-yiming-uz801v3.dtb > kernel-dtb
          sudo make ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- modules_install -j$(nproc --all)
          MKINIT_FOLDER=$(ls -d /lib/modules/*-msm8916-* | xargs -n 1 basename)
          sudo mkinitramfs $MKINIT_FOLDER -o ./initrd.img

      - name: Check compiled files
        run: |
           cd $GITHUB_WORKSPACE/kernel_workflow
           if [ -f linux-headers-* ]; then
              ls -al
              echo "BOOT_STATUS=true" >> $GITHUB_ENV
              echo "HEADER=$(ls linux-headers-*.deb)" >> $GITHUB_ENV
              echo "IMAGE=$(ls linux-image-*.deb)" >> $GITHUB_ENV
              echo "LLIBC=$(ls linux-libc*.deb)" >> $GITHUB_ENV
           else
              echo "compiled files is empty"
              exit 1
           fi

      - name: Chroot
        run: |
           cd $GITHUB_WORKSPACE/kernel_workflow
           sudo apt-get install debootstrap qemu-user-static binfmt-support
           sudo debootstrap --arch arm64 --foreign jammy rootfs https://ports.ubuntu.com
           
           sudo cp -a /usr/bin/qemu-aarch64-static rootfs/usr/bin/qemu-aarch64-static
           sudo cp ${{ env.HEADER }} rootfs/root/
           sudo cp ${{ env.IMAGE }} rootfs/root/
           sudo cp ${{ env.LLIBC }} rootfs/root/
           sudo wget https://raw.githubusercontent.com/JackA1ltman/UZ801_Debian_Kernel/refs/heads/main/config/chroot.sh -O rootfs/chroot.sh
           
           sudo mount --bind /dev rootfs/dev
           sudo mount --bind /dev/pts rootfs/dev/pts
           sudo mount --bind /proc rootfs/proc
           sudo chroot rootfs bash -c "bash chroot.sh"

           # sudo umount rootfs/dev/pts
           sudo umount rootfs/dev 
           # sudo umount rootfs/proc
           dd if=/dev/zero of=rootfs-ori.img bs=1M count=4096
           mkfs.ext4 rootfs-ori.img
           sudo mkdir /mnt/rootfs_dd
           sudo mount rootfs-ori.img /mnt/rootfs_dd
           sudo cp -a rootfs/. /mnt/rootfs_dd/
           sudo sync
           sudo umount /mnt/rootfs_dd/
           img2simg rootfs-ori.img rootfs.img
           
           echo "ROOTFS_UUID=$(file rootfs.img | sed -n 's/.*UUID=\([^ ]*\).*/\1/p')" >> $GITHUB_ENV

      - name: Mkbootimg
        run: |
          cd $GITHUB_WORKSPACE/kernel_workflow/tools
          ls -al
          ./mkbootimg.py --base 0x80000000 \
                    --kernel_offset 0x00080000 \
                    --ramdisk_offset 0x02000000 \
                    --tags_offset 0x01e00000 \
                    --pagesize 2048 \
                    --second_offset 0x00f00000 \
                    --ramdisk ../debian_kernel/initrd.img \
                    --cmdline "earlycon console=tty0 console=ttyMSM0,115200 root=UUID=${{ env.ROOTFS_UUID }} rw loglevel=7"\
                    --kernel ../debian_kernel/kernel-dtb -o ../boot.img

      - name: Upload boot headers
        if: env.BOOT_STATUS == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: boot_header.deb
          path: kernel_workflow/${{ env.HEADER }}
          
      - name: Upload boot image
        if: env.BOOT_STATUS == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: boot_image.deb
          path: kernel_workflow/${{ env.IMAGE }}
          
      - name: Upload libc
        if: env.BOOT_STATUS == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: boot_libc.deb
          path: kernel_workflow/${{ env.LLIBC }}

      - name: Upload boot image
        if: env.BOOT_STATUS == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: boot.img
          path: kernel_workflow/boot.img

      - name: Upload rootfs image
        if: env.BOOT_STATUS == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: rootfs.img
          path: kernel_workflow/rootfs.img
